@import '~styles/Variables';

.wrapper {
  text-align: center;
  background-color: #0c2538;
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  gap: $spacing4;
  color: white;

  h1 {
    margin-bottom: $spacing2;
  }
}
