/node_modules
/public/hot
/public/storage
/public/empty.css
/public/empty.css.map
/public/mix-manifest.json
/public/mix.js.map
/public/js
/storage/*.key
/vendor
.env
.env.backup
.DS_Store
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
