/**===========================================================
 * Variables
 ===========================================================*/

// Fonts
$sans-serif: 'Fira Sans', sans-serif;
$serif: 'Crete Round', serif;

//  Colors
$primary: #1e265c;
$purple: #6e38a6;
$light-blue: #169ab5;
$yellow: #fed230;
$white: #ffffff;
$off-white: #f1f0ea;
$grey: #707070;
